<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-camctrl" version="1.0.0">
    <name>CamCtrl</name>
    <description>Cordova CamCtrl Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,camctrl</keywords>
    <js-module src="www/camctrl.js" name="camctrl">
        <clobbers target="camctrl" />
    </js-module>
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="CamCtrl">
                <param name="android-package" value="com.realid.cordova.plugin.CamCtrl"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.realid.cordova.plugin.CameraActivity"
                android:configChanges="orientation|keyboardHidden|screenSize">
            </activity>
        </config-file>
        <framework src="com.android.support:appcompat-v7:25.0.1" />
        <framework src="com.android.support:support-v4:25.0.1" />
        <source-file src="src/android/libs/armeabi/libAudioEngine.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libCpuFeatures.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libHCAlarm.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libHCCore.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libHCCoreDevCfg.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libHCDisplay.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libHCGeneralCfgMgr.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libHCIndustry.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libhcnetsdk.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libHCPlayBack.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libHCPreview.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libHCVoiceTalk.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libjnidispatch.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libPlayCtrl.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libPlayCtrl_v5.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libPlayCtrl_v7.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libSystemTransform.so" target-dir="libs/armeabi" />
        
        <source-file src="src/android/libs/armeabi/libAudioEngine.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libCpuFeatures.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libHCAlarm.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libHCCore.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libHCCoreDevCfg.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libHCDisplay.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libHCGeneralCfgMgr.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libHCIndustry.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libhcnetsdk.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libHCPlayBack.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libHCPreview.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libHCVoiceTalk.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libjnidispatch.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libPlayCtrl.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libPlayCtrl_v5.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libPlayCtrl_v7.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi/libSystemTransform.so" target-dir="libs/armeabi-v7a" />

        <source-file src="src/android/libs/armeabi/libAudioEngine.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libCpuFeatures.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libHCAlarm.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libHCCore.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libHCCoreDevCfg.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libHCDisplay.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libHCGeneralCfgMgr.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libHCIndustry.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libhcnetsdk.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libHCPlayBack.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libHCPreview.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libHCVoiceTalk.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libjnidispatch.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libPlayCtrl.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libPlayCtrl_v5.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libPlayCtrl_v7.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/armeabi/libSystemTransform.so" target-dir="libs/x86" />

        <source-file src="src/android/libs/AudioEngineSDK.jar" target-dir="libs" />
        <source-file src="src/android/libs/HCNetSDK.jar" target-dir="libs" />
        <source-file src="src/android/libs/jna.jar" target-dir="libs" />
        <source-file src="src/android/libs/PlayerSDK.jar" target-dir="libs" />
        <source-file src="src/android/libs/camctrl.jar" target-dir="libs" />

        <source-file src="src/android/CamCtrl.java" target-dir="src/com/realid/cordova/plugin" />
        <source-file src="src/android/CameraActivity.java" target-dir="src/com/realid/cordova/plugin" />

        <resource-file src="src/android/res/drawable/ctrl_bg.png" target="res/drawable/ctrl_bg.png" />
        <resource-file src="src/android/res/drawable/ic_down.png" target="res/drawable/ic_down.png" />
        <resource-file src="src/android/res/drawable/ic_down_on.png" target="res/drawable/ic_down_on.png" />
        <resource-file src="src/android/res/drawable/ic_increase.png" target="res/drawable/ic_increase.png" />
        <resource-file src="src/android/res/drawable/ic_increase_on.png" target="res/drawable/ic_increase_on.png" />
        <resource-file src="src/android/res/drawable/ic_left.png" target="res/drawable/ic_left.png" />
        <resource-file src="src/android/res/drawable/ic_left_on.png" target="res/drawable/ic_left_on.png" />
        <resource-file src="src/android/res/drawable/ic_reduce.png" target="res/drawable/ic_reduce.png" />
        <resource-file src="src/android/res/drawable/ic_reduce_on.png" target="res/drawable/ic_reduce_on.png" />
        <resource-file src="src/android/res/drawable/ic_right.png" target="res/drawable/ic_right.png" />
        <resource-file src="src/android/res/drawable/ic_right_on.png" target="res/drawable/ic_right_on.png" />
        <resource-file src="src/android/res/drawable/ic_up.png" target="res/drawable/ic_up.png" />
        <resource-file src="src/android/res/drawable/ic_up_on.png" target="res/drawable/ic_up_on.png" />
        <resource-file src="src/android/res/drawable/ic_back.png" target="res/drawable/ic_back.png" />
        <resource-file src="src/android/res/drawable/ic_fullscreen.png" target="res/drawable/ic_fullscreen.png" />

        <resource-file src="src/android/res/drawable/selector_down.xml" target="res/drawable/selector_down.xml" />
        <resource-file src="src/android/res/drawable/selector_increase.xml" target="res/drawable/selector_increase.xml" />
        <resource-file src="src/android/res/drawable/selector_left.xml" target="res/drawable/selector_left.xml" />
        <resource-file src="src/android/res/drawable/selector_reduce.xml" target="res/drawable/selector_reduce.xml" />
        <resource-file src="src/android/res/drawable/selector_right.xml" target="res/drawable/selector_right.xml" />
        <resource-file src="src/android/res/drawable/selector_up.xml" target="res/drawable/selector_up.xml" />

        <resource-file src="src/android/res/layout/activity_camera.xml" target="res/layout/activity_camera.xml" />
        

    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CamCtrl">
                <param name="ios-package" value="CamCtrl" />
            </feature>
        </config-file>

        <header-file src="src/ios/CamCtrl.h" />
        <header-file src="src/ios/CameraViewController.h" />
        <header-file src="src/ios/headers/AudioEngine.h" />
        <header-file src="src/ios/headers/IOSPlayM4.h" />
        <header-file src="src/ios/headers/hcnetsdk.h" />
        <header-file src="src/ios/headers/HikDec.h" />
        <header-file src="src/ios/DeviceInfo.h" />
        <header-file src="src/ios/Preview.h" />

        <source-file src="src/ios/CamCtrl.m" />
        <source-file src="src/ios/DeviceInfo.m" />
        <source-file src="src/ios/Preview.mm" />
        <source-file src="src/ios/CameraViewController.mm" />

        <source-file src="src/ios/frameworks/libHCCore_sim.a" framework="true" />
        <source-file src="src/ios/frameworks/libHCNetSDK_sim.a" framework="true" />
        <source-file src="src/ios/frameworks/libPlayCtrl_sim.a" framework="true" />
        <source-file src="src/ios/frameworks/libtinyxml_sim.a" framework="true" />
        <source-file src="src/ios/frameworks/libtinyxml.a" framework="true" />
        <source-file src="src/ios/frameworks/libHCCore.a" framework="true" />
        <source-file src="src/ios/frameworks/libHCNetSDK.a" framework="true" />
        <source-file src="src/ios/frameworks/libAudioEngine_64.a" framework="true" />
        <source-file src="src/ios/frameworks/libplayctrl.a" framework="true" />
        <source-file src="src/ios/frameworks/libSystemTransform.a" framework="true" />

        <framework src="libiconv.tbd" />
        <framework src="AudioToolbox.framework" />
        <framework src="OpenAL.framework" />
        <framework src="CoreFoundation.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="GLKit.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="UIKit.framework" />
        <framework src="Foundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="QuartzCore.framework" />
        
        <resource-file src="src/ios/res/ctrl_bg.png" />
        <resource-file src="src/ios/res/ic_down.png" />
        <resource-file src="src/ios/res/ic_down_on.png" />
        <resource-file src="src/ios/res/ic_increase.png" />
        <resource-file src="src/ios/res/ic_increase_on.png" />
        <resource-file src="src/ios/res/ic_left.png" />
        <resource-file src="src/ios/res/ic_left_on.png" />
        <resource-file src="src/ios/res/ic_reduce.png" />
        <resource-file src="src/ios/res/ic_reduce_on.png" />
        <resource-file src="src/ios/res/ic_right.png" />
        <resource-file src="src/ios/res/ic_right_on.png" />
        <resource-file src="src/ios/res/ic_up.png" />
        <resource-file src="src/ios/res/ic_up_on.png" />
        <resource-file src="src/ios/res/ic_back.png" />
        <resource-file src="src/ios/res/ic_fullscreen.png" />
    </platform>

</plugin>